<div class="w-screen">

    <parallax backgroundImagePath='../../assets/images/bronco.jpg'>

        <div class="mx-auto max-w-2xl h-screen flex flex-col justify-center items-center">
            <h2 class="text-6xl font-bold mb-4 pb-28">The Story of my Bronco</h2>
            <h2 class="text-4xl font-bold mb-4">The beginnings</h2>
            <div class="text-left max-w-2xl text-lg">
                In middle school, I purchased a 1979 Ford Bronco as a car that I could drive when I became of driving
                age.
                I really loved the lines of the truck, and it is also one of the most capable off roading vehicles that
                Ford ever made. It is also highly desirable due to the fact that 1979 was the last year that the Bronco
                was manufactured with a solid front axle, a feature that is widely valued by the off-roading community.
                After getting the Bronco, I quickly learned my way around the engine. I started with smaller things,
                such as oil pan removal, and worked my way up to bigger things, such as replacing the carburetor and
                the rear main seal. The tailgate of the truck also had electrical problems, so I also learned how to do
                automotive electrical work.

            </div>

        </div>
    </parallax>

    <parallax backgroundImagePath='../../assets/images/engine.jpg'>

        <div class="mx-auto max-w-2xl h-screen flex flex-col justify-center items-center">
            <h2 class="text-4xl font-bold mb-4">Trouble</h2>
            <div class="text-left max-w-2xl text-lg">
                After working out many of the mechanical issues with the truck,  I took the Bronco on the highway one day.
                During this trip, I experienced a loss of power, followed by a loud clunk and the engine abruptly shutting off
                 while I was traveling at around 60 miles per hour.  Luckily, I was
                able to coast to a nearby off ramp and I was able to call a tow truck to return the Bronco home. 
                After assessing the damage to the engine, I found that the truck had thrown a connecting rod. I decided to do a full
                engine swap and transmission rebuild. 
            </div>

        </div>
    </parallax>

    <parallax backgroundImagePath='../../assets/images/bronco-no-engine.jpg'>

        <div class="mx-auto max-w-2xl h-screen flex flex-col justify-center items-center">
            <h2 class="text-4xl font-bold mb-4">The rebuild</h2>
            <div class="text-left max-w-2xl text-lg">
                Currently, I have the transmission rebuilt, and the engine has been refreshed as well.  I'm currently working on refreshing the transfer case.
                After I have the transfer case done, I will be looking to reassemble the drivetrain and put it back into the Bronco.  
            </div>

        </div>
    </parallax>
</div>