<div class="homepage max-w-screen-2xl ">
    <div class="grid grid-cols-2 content-center">
        <div class="mt-20  row-span-2">
            <div class="main-text">
                Phil
            </div>
            <div class="main-text pb-9">
                Burney
            </div>
            <div class="mt-5 text-slate-400 text-lg">
                Software Engineer // Car Enthausiast // Avid Gardener // Tinkerer
            </div>
            <div class="mt-5">
                I like to solve problems and write clean code.  My work specializes in full-stack web app development, 
                and I have experience in mobile app development and video game development.  This is my site to display 
                some of my coding projects and hobbies.  
            </div>
        </div>

        <div class="mt-20 justify-self-end grid grid-cols-1">

            <div class="mb-6 mr-10 text-7xl flex items-center justify-between">
                <div class="p-10 text">
                    <a href="https://github.com/phil-burney">Portfolio</a>
                </div>
            </div>
            
            <div class="mb-6 mr-10 text-7xl flex items-center justify-between ">
                <div class="p-10 text"><a href="aboutme">About</a></div>


            </div>
            <div class="text-7xl mr-10 flex items-center justify-between ">           
                <div class="p-10 text"><a href="resume">Skills</a></div>
            </div>
        </div>
    </div>