<div class="homepage max-w-screen-2xl ">
    <div class="grid grid-cols-2 content-center">
        <div class="mt-20  row-span-2">
            <div class="text-9xl">
                Phil
            </div>
            <div class="text-9xl">
                Burney
            </div>
            <div class="mt-5">
                Software Engineer / Car Enthausiast / Avid Gardener / Tinkerer
            </div>
            <div class="mt-5">
                I like to solve problems and write clean code.  My work specializes in full-stack web app development, 
                but I have experience in mobile app development and video game development.  This is my site to display 
                some of my coding projects and hobbies.  
            </div>
        </div>

        <div class="mt-20 justify-self-end grid grid-cols-1">
            <!-- <div class="mb-6 mr-10 text-7xl flex items-center justify-between border-blue-200 box-border border-4 rounded-3xl green-gold-gradient hover:bg-green-500 transition duration-300 ease-in-out">
                <div class="p-10">
                    Portfolio
                </div>
                <div class=" mr-2 w-32 h-32">
                    
                </div>
            </div> -->
            <div class="mb-6 mr-10 text-7xl flex items-center justify-between border-gradient">
                <div class="p-10 text">
                    Portfolio
                </div>
                
                <div class="mr-2 w-32 h-32">
                    <div class="mask-svg"><img src="../../assets/portfolio-icon.svg"></div>
                </div>
            </div>
            
            
            <div class="mb-6 mr-10 text-7xl flex items-center justify-between border-gradient">
                <div class="p-10 text">About</div>
                <div class=" mr-2 w-32 h-32"><div class="mask-svg"><img src="../../assets/about-icon.svg"></div></div>

            </div>
            <div class="text-7xl mr-10 flex items-center justify-between border-gradient">
                
                <div class="p-10 text">Skills</div>
                <div class=" mr-2 w-32 h-32">
                    <div class="mask-svg"><img src="../../assets/skills-icon.svg"></div>

                </div>
            </div>
        </div>
    </div>