<div class="navbar">
    <div class="flex justify-between items-center p-2">
        <a href="/"><img class="ml-3 mt-3 h-24" src="../../assets/logopb2.svg" alt="Logo" /></a>
        <div class="flex space-x-4">
            <!-- <div class="btn-container">
                <a href="portfolio" class="px-2 py-1 gradient-btn"><span class="gradient-btn-txt">Portfolio</span></a>
            </div> -->
            <div class="btn-container">
                <a href="resume" class="px-2 py-1 gradient-btn"><span class="gradient-btn-txt">Resume</span></a>
            </div>
            <div class="btn-container">
                <a href="aboutme" class="px-2 py-1 gradient-btn"><span class="gradient-btn-txt">About Me</span></a>
            </div>
            <div class="btn-container">
                <a href="https://github.com/phil-burney" class="px-2 py-1 gradient-btn"><span class="gradient-btn-txt">Github</span></a>
            </div>
            
            
            
        </div>
    </div>
    


</div>