<div class="parallax-aboutme w-screen">
    <div class="mx-auto max-w-2xl h-screen flex flex-col justify-center items-center">
            <h2 class="text-3xl font-bold mb-4">About Me</h2>
            <div class="text-left max-w-2xl">
                Hello! My name is Phil Burney and I am a Software Engineer.
                I started life in Polk County, North Carolina, a rural county in the foothills of the beautiful Blue
                Ridge mountains.
                Here, I grew up, and eventually graduated from high school. After I graduated, I was accepted to North
                Carolina State University.
                After a year of exploring what NCSU’s engineering program had to offer in my freshman, I decided to
                pursue a degree in Computer Science.
                At the time, coding seemed very interesting, and Computer Science allows for creativity and problem
                solving that most other
                engineering degrees cannot match. I was very successful in pursuing this degree, and I graduated at the
                top of my class with a Computer Science degree in 2022.
            </div>
    </div>
</div>

<div class="parallax-hobbies">
    <div class="mx-auto max-w-2xl h-screen flex flex-col justify-center items-center">
        <h2 class="text-3xl font-bold mb-4">Interests</h2>
        <div class="text-left max-w-2xl">
            Upon first arriving at North Carolina State University, I realized that the campus was
            very large and
            spread out. As a result of this,
            I decided to purchase an electric scooter from Amazon for $200 a few weeks into the semester to shorten
            the time that it took for me to
            get from my dorm room to class. This proved to be be very good investment, even though the scooter was
            very cheaply made and ultimately
            broke down a few months later. After this, I got a more durable scooter, but it also lacked power. I
            decided to look and see what my
            other options were, and most of the powerful options were too expensive. As a result, I decided to build
            my own electric scooter from scratch.
            I started by designing a frame, which I would be able to bolt together. I then designed a battery pack,
            which is made from 18650 batteries
            and produces 52 volts. Currently, I am sorting out the design of the rear suspension, which has proven
            to be challenging due to the forces
            exerted on the rear subframe.
        </div>
    </div>
</div>

<div class="parallax-code-projects">
    <div class="mx-auto max-w-2xl h-screen flex flex-col justify-center items-center">
        <h2 class="text-3xl font-bold mb-4">Code Projects</h2>
        <div class="text-left max-w-2xl">
            Upon first arriving at North Carolina State University, I realized that the campus
            was very large and
            spread out. As a result of this,
            I decided to purchase an electric scooter from Amazon for $200 a few weeks into the semester to shorten
            the time that it took for me to
            get from my dorm room to class. This proved to be be very good investment, even though the scooter was
            very cheaply made and ultimately
            broke down a few months later. After this, I got a more durable scooter, but it also lacked power. I
            decided to look and see what my
            other options were, and most of the powerful options were too expensive. As a result, I decided to build
            my own electric scooter from scratch.
            I started by designing a frame, which I would be able to bolt together. I then designed a battery pack,
            which is made from 18650 batteries
            and produces 52 volts. Currently, I am sorting out the design of the rear suspension, which has proven
            to be challenging due to the forces
            exerted on the rear subframe.
        </div>
    </div>
</div>