<div class="about-me">
    <parallax backgroundImagePath='../../../assets/images/home.jpg'>
        <div class="mx-auto max-w-2xl h-screen flex flex-col justify-center items-center">
            <h2 class="text-4xl font-bold mb-4">About Me</h2>
            <div class="text-left max-w-2xl text-lg">
                Hello! My name is Phil Burney and I am a Software Engineer.
                I started life in Polk County, North Carolina, a rural county in the foothills of the beautiful Blue
                Ridge mountains.
                Here, I grew up, graduated from high school and attended North
                Carolina State University shortly after I graduated high school.
                After a year of exploring what NCSU’s engineering program had to offer in my freshman, I decided to
                pursue a degree in Computer Science.
                At the time, coding seemed very interesting, and Computer Science allows for creativity and problem
                solving that most other
                engineering degrees cannot match. I was very successful in pursuing this degree, and I graduated at the
                top of my class with a Computer Science degree in 2022.
            </div>
        </div>
    </parallax>

    <parallax backgroundImagePath='../../assets/images/engine.jpg'>
        <div class="mx-auto max-w-2xl h-screen flex flex-col justify-center items-center">
            <h2 class="text-4xl font-bold mb-4">Interests</h2>
            <div class="text-left max-w-2xl text-lg">
                I spend my free time tinkering, coding, and making things run again. Here are a few of my non-coding
                activities that I do in my free time:
            </div>
            <div class="flex flex-col items-start p-5">
                <div class="automotive-adventures text-4xl p-3">
                    <a href="/bronco">My automotive adventures.</a>
                    
                </div>
                <div class="electric-scooter text-4xl p-3">
                    <a href="/electric-scooter">My electric scooter.</a>
                    
                </div>
            </div>
        </div>
    </parallax>

    <parallax backgroundImagePath=''>
        <div class="mx-auto max-w-2xl h-screen flex flex-col justify-center items-center">
            <h2 class="text-4xl font-bold mb-4">Coding projects</h2>
            <div class="text-left max-w-2xl text-lg">
                I also spend a bit of my free time learning new coding languages, and how to write good, clean code.
                These are a few of my notable coding projects:
            </div>
            <div class="flex flex-col items-start p-5">
                <div class="bronco-technologies text-4xl p-3">
                    <a href="https://www.broncotechnologies.com">The Bronco Technologies website</a>
                </div>
                <div class="reelie text-4xl p-3">
                    <a href="https://www.broncotechnologies.com/products/reeli">Reelie</a>
                </div>
            </div>

        </div>
    </parallax>
</div>