<div class="w-screen">
    <parallax backgroundImagePath='../../assets/images/escooter.jpg'>

        <div class="mx-auto max-w-2xl h-screen flex flex-col justify-center items-center">
            <h2 class="text-4xl font-bold mb-4">My Electric Scooter</h2>
            <div class="text-left max-w-2xl text-lg">
                Upon first arriving at North Carolina State University, I realized that the campus was very large and
                spread out.
                As a result of this, I decided to purchase an electric scooter from Amazon for $200 a few weeks into the
                semester
                to shorten the time that it took for me to get from my dorm room to class. This proved to be be very
                good investment,
                even though the scooter was very cheaply made and ultimately broke down a few months later. After this,
                I got a more
                durable scooter, but it also lacked power. I decided to look and see what my other options were, and
                most of the powerful
                options were too expensive. As a result, I decided to build my own electric scooter from scratch. I
                started by designing
                a frame, which I would be able to bolt together. I then designed a battery pack, which is made from
                18650 batteries and
                produces 52 volts. Currently, I am sorting out the design of the rear suspension, which has proven to be
                challenging
                due to the forces exerted on the rear subframe.
            </div>

        </div>
    </parallax>
</div>