<div class="max-w-screen-md p-5">
    <div class="content-center flex flex-col">
        <h2 class="text-6xl font-bold p-8 self-center title">Resume</h2>
        <div class="p- flex flex-col">
            <h2 class="text-3xl font-bold p-6 self-center subtitle">Education</h2>
            <div class="self-center">
            <p><strong class="text-2xl">BS in Computer Science, May 2022</strong><br>
                <div class="text-xl">North Carolina State University, Raleigh, NC</div>
                <div class="text-xl font-bold">GPA: 4.00 / 4.00</div>
            </div>
        </div>
        <div class="p-5 flex flex-col">
            <h2 class="text-3xl font-bold p-2 self-center subtitle">Technical Skills</h2>
            <table border="1" cellspacing="0" cellpadding="5" class="self-center">
                <tr>
                    <th>Category</th>
                    <th>Skills</th>
                </tr>
                <tr>
                    <td>Software Languages</td>
                    <td>Typescript, JavaScript, Python, Java, Rust, C#, C++, C, Dart, HTML, CSS, SQL</td>
                </tr>
                <tr>
                    <td>Web Technologies</td>
                    <td>REST, JSON, gRPC, GraphQL, Tailwind CSS, Bootstrap</td>
                </tr>
                <tr>
                    <td>Tools</td>
                    <td>Git, GitHub Actions, Jest, Cypress, Jenkins, Docker, JUnit, AWS, Microsoft Azure</td>
                </tr>
                <tr>
                    <td>Frameworks</td>
                    <td>Vue.js, React, Node.js, Angular, Astro, ASP.NET, FLutter, Spring, Hibernate, Express.js</td>
                </tr>
                <tr>
                    <td>Operating Systems</td>
                    <td>Linux, Windows, MacOS</td>
                </tr>
                <tr>
                    <td>Databases</td>
                    <td>MySQL, MongoDB, Redis</td>
                </tr>
            </table>
            
            
        </div>
        <div class="p-5 flex flex-col">
            <h2 class="text-3xl font-bold p-2 self-center subtitle">Projects</h2>
            <p><strong>Starbase Command Center:</strong> My team collaborated with JupiterOne to create Starbase Command
                Center, which was a graphic user interface for their open-source product called Starbase. I lead our
                team in
                designing and implementing the final product.</p>


            <p><strong>Reelie:</strong> Reelie is a mobile application that aims to make sharing information about
                events
                easier. Users can store text data, photos, and videos related to an event in one place and share that
                information with others. The app is written in Dart using the Flutter framework. Reelie is currently
                available on Google Play and the App Store.</p>
        </div>

        <div class="p-5 flex flex-col">
            <h2 class="text-3xl font-bold p-2 self-center subtitle">Work Experience</h2>
            <h3>Software Engineer, /n Software, Chapel Hill, NC (Remote Position)</h3>
            <ul class = "list-disc">
                <li>Developed a web application that would run unit tests daily, upload those results to a web server,
                    and
                    display those test results on a web page that all at my company could access.</li>
                <li>Conducted comprehensive quality assurance by developing, debugging, and troubleshooting tests.</li>
                <li>Provided excellent customer service by addressing product inquiries and assisting clients with code
                    troubleshooting. Resolving issues involved working with multiple internet protocols and multiple
                    programming languages.</li>
            </ul>
        </div>
    </div>
</div>